* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    padding-left: 10%;
    padding-right: 10%;
}
.nav .logo {
    font-size: 1.5rem;
}
.nav ul {
    display: flex;
    list-style-type: none;
    
}
.nav ul li {
    margin: 0 20px;
}
.nav ul li a {
    text-decoration: none;
    color:#000;
    font-size: 1.3rem;
}



.col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    font-weight: bold;
    font-size: 1.1rem;
}
.row-1 {
    margin: 0 100px 0 0;
}
.row-1 h1 {
    font-size: 40px;
}
.row-1 p {
    padding-top: 15px;
}
.row-1 h1::first-line {
    color: gray;
}

.row-1 h1 i {
    font-family: 'Great Vibes', cursive;
    font:lighter;
}

.row-1 a {
    border-radius: 1.6rem;
    border: 2px solid black;
    padding: .4rem .5rem;
    color: black;
    text-decoration: none;
    margin-left: 6px;
    font-weight: bold;
    font-size: 1.2rem;
}

.row-1 div {
    margin-top: 30px;
}

.row-2 p {
    white-space: pre-wrap;
    margin:10px;
}

.col-2 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: .8fr 3fr;
}

.col-2 .sidebar {
    margin-left: 100px;

}

.col-2 .sidebar ul {
    list-style-type: none;
}

.col-2 .sidebar ul li {
    padding: 5px;
    border-top: 2px solid black;
    padding:10px 0;
    margin-left: 10px;
}

.col-2 .sidebar ul li a {
    text-decoration:none;
    color: black;
    font-size: 1.2rem;
}

.col-2 .text {
    margin:-20px 100px 0 100px;
}
.col-2 .text::first-letter {
    font-size: 40px;
}

.col-2 .text {
    margin:-20px 100px 0 100px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.col-2 .text::first-letter {
    font-size: 40px;
}